<div *ngIf="githubRepos" class="card mt-3">
    <div class="card-header bg-light text-dark">
        <h4>Github repo-k</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            
            <li *ngFor="let repo of githubRepos.items" class="list-group-item d-flex justify-content-between">
                    <a [href]="repo.html_url" class="text-primary" target="_blank">{{repo.name}}</a> <p class="text-secondary">{{repo.full_name}}</p>
                    <p class="text-left">{{repo.description}}</p>
                    <span class="badge alert-warning pull-right">{{repo.watchers_count}} figyelés</span>
                    <br>
            </li>
        </ul>
    </div>
</div>